<% provide(:title, current_user.name) %>
<% user = User.find(params[:id]) %>
<% if current_user.id == user.id %>
<aside class="span4">
	<section>
		<h1>
			<%= image_tag(current_user.image) %>
			<%= current_user.name %>
		</h1>
	</section>
</aside>
	<div id="center-button">
		<%= link_to "Start a new story!", stories_new_path , class:"btn btn-large btn-primary" %>
	</div>
	<div id="center-button">
		<%= link_to "Continue story...", '#', class:"btn btn-large btn-primary" %>
	</div>
	<div id="center-button">
		<%= link_to "See other stories", users_path , class:"btn btn-large btn-primary" %>
	</div>
<% else %>
	<aside class="span4">
		<section>
			<h1>
				<%= image_tag(user.image) %>
				<%= user.name %>
			</h1>
		</section>
	</aside>
	<div id="center-button">
		<h1> Stories </h1>
		<% @stories = user.story.all %>
		<% @stories.each do |story| %>
		<ul>
			<li> <%= story.title %> 
			</br> <%= link_to('Contribute', story) %>
			</li>
		</ul>
		<% end %>
	</div>
<% end %>