<% provide(:title, current_user.name) %>
<% user = User.find(params[:id]) %>
	<aside class="span4">
		<section>
			<h1>
				<%= image_tag(user.image) %>
				<%= user.name %>
			</h1>
		</section>
	</aside>
	<div id="center-button">
		<h1> Stories </h1>
		<% @stories = user.story.load %>
		<% @stories.each do |story| %>
		<ul>
			<li> <%= story.title %> 
			</br> 	
				<% if current_user.id == user.id %>
					<%= link_to('Continue story', story) %>
				<% else %>
					<%= link_to('Contribute', story) %>
				<% end %>
			</li>
		</ul>
		<% end %>
	</div>
	<% if current_user.id == user.id %>
		<div id="center-button">
			<%= link_to "Start a new story!", stories_new_path , class:"btn btn-large btn-primary" %>
		</div>
		<div id="center-button">
			<%= link_to "See other stories", users_path , class:"btn btn-large btn-primary" %>
		</div>
	<% end %>
