<% story = Story.find(params[:id]) %>
<% user = User.find_by(id: story.user_id) %>
<h1>
	<%= @story.title %>
	<% @sentences = @story.sentences.where("validated = 'true'") %>
</h1>
<% if @sentences.any? %>
<ul>
	<% @sentences.each do |sentence| %>
	<div class="profile">
		<li> <%= image_tag(User.find_by(id: sentence.user_id).image) %>           <%= sentence.content %>
		</li>
	</div>
	<% end %>
</ul>	
<% end %>
<% if current_user.id!=user.id %>
	<%= form_for(@sentence) do |f| %>
	<%= f.label :content, 'Get creative here' %>
	<%= f.text_field :content %>
	<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
	<% end %>
<% else %>
<% new_sentences = @story.sentences.where("validated = ?", 'false') %>
<h1> What's next? </h1>
<% new_sentences.each do |sentence| %>
<ul>
	<li><%= sentence.content %>
	</li>
</ul>
<% end %>
<% end %>

